.favorite-movie-container{
    height: 100vh;
    .favorite-movie-content-container{
        margin-top: 10%;
        height: 60%;
        display: flex;
        justify-content: center;
        color: white;
        flex-wrap: wrap;
        .favorite-card{
            flex-basis: 100%;
            text-align: center;
        }
    }
    .footer-content{
        position: absolute;
        bottom: 0%;
        width: 100vw;
    }
}